<!DOCTYPE html>
<html>
	<head>
		<title>My first Vue app</title>
		<script src="https://unpkg.com/vue"></script>
		<script src="config.js"></script>
	</head>
	<body>
		<div id="app">
			VUE_APP_API_BASE_URL={{message}}
		</div>

		<script>
			var app=new Vue({
				el: '#app',
				data: {
					message: config.get('VUE_APP_API_BASE_URL')
				}
			})
		</script>
	</body>
</html>
